.el-layout-right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100vh;
  height: auto;
  overflow: hidden;
  background: #f0f2f5;
}
.el-layout-right .el-header {
  padding: 0;
}
.el-layout-right .main-container .btn-section {
  margin-bottom: 10px;
}
.el-layout-right .main-container .btn-section button {
  width: 100px;
}
.el-dialog.el-dialog-common {
  max-width: 600px;
}
.el-dialog.el-dialog-common .el-dialog__body {
  padding: 10px 20px 0 20px;
}
