.el-layout-right {
  flex: 1;
}
.el-layout-right .el-header {
  padding: 0;
}
.el-layout-right .main-container .btn-section {
  margin-bottom: 10px;
}
.el-layout-right .main-container .btn-section button {
  width: 100px;
}
