.el-layout-right {
    flex: 1;

    .el-header {
        padding: 0;
        // min-width: 1200px;
    }

    .main-container {

        .btn-section {
            margin-bottom: 10px;

            button {
                width: 100px;
            }
        }
    }
}